* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background-color: #ffe4b5; /* Светло-оранжевый для приветственной страницы */
  color: #333333; /* Цвет текста */
}
header {
  display: flex;
  justify-content: center;
}
.header__link {
  transition: 300ms;
}
.header__link:hover {
  color: orange;
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  background-color: #ffffff; /* Белый для заголовка */
  color: #333333; /* Цвет текста заголовка */
}
.header__links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin-left: 50px;
}
.header__link {
  color: black;
  font-weight: 700;
  font-size: 24px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo__img {
  width: 200px;
  padding-right: 50px;
}
.section__first {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}
.welcome {
  display: flex;
}
.welcome__text {
  padding: 70px 200px 35px 35px;
  width: 60%;
}
.welcome__text > h1 {
  font-size: 48px;
  padding-bottom: 50px;
}
.welcome__img {
  padding: 50px;
  width: 450px;
}
.itali__text {
  color: rgb(255, 6, 6);
  font-size: 54px;
}
.smalltext {
  font-size: 24px;
}
.btn1 {
  width: 20em;
  height: 5em;
  color: #ffffff;
  background-color: #6b4226;
  transition: 300ms;
  margin: 30px 40px 20px 0px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
.btn1:hover {
  background-color: white;
  color: #333;
  border: #000000 0.5px solid;
}
.btn2 {
  width: 13em;
  height: 5em;
  color: #000000;
  background-color: white;
  transition: 500ms;
  cursor: pointer;
  border-radius: 30px;
}
.btn2:hover {
  background-color: #6b4226;
  color: #ffffff;
  border: none;
}

.section__second {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cart img {
  align-items: center;
}
.cont__menu {
  text-align: center;
  font-size: 30px;
  padding-bottom: 50px;
}
.carts {
  display: flex;
}

.cart {
  width: 400px;
  height: 500px;
  margin: 50px;
  margin-bottom: 70;
  text-align: left;
  transition: 350ms;
}

.section__third {
  display: flex;
  justify-content: center;
  align-items: center;
}
.third__img {
  display: flex;
  justify-content: center;
  padding: 50px;
}
.carta__img {
  align-items: center;
  width: 300px;
  transition: 300ms;
}
.carta__img:hover {
  width: 350px;
}
.third__img1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px 0 0;
  justify-content: space-around;
}
.timg1 {
  height: 350px;
  width: 450px;
  border-radius: 10%;
  margin-bottom: 10px;
}
.timg2 {
  height: 350px;
  width: 450px;
  border-radius: 10%;
}
.timg3 {
  width: 450px;
  height: 720px;
  border-radius: 10%;
}
.third__text {
  font-size: 22px;
  width: 400px;
  font-weight: 900;
}
.third__text h1 {
  font-size: 40px;
  text-align: center;
}
.third__p {
  padding: 18px 0;
}
.third__text p {
  font-size: 20px;
}
.third__text button {
  width: 20em;
  height: 5em;
  color: #ffffff;
  background-color: #6b4226;
  transition: 300ms;
  margin: 30px 40px 20px 0px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  margin-left: 80px;
}
.btn1:hover {
  background-color: white;
  color: #333;
  border: #000000 0.5px solid;
}
.section__fourth {
  height: 750px;
}
.fourth {
  margin: 50px;
  display: flex;
  padding: 50px 75px;
  justify-content: center;
  border: #6b4226 5px solid;
}
.fourth__text {
  padding: 150px 150px 150px 200px;
  font-size: 20px;
}
.fourth__text p {
  width: 500px;
}

.fourth__text h1 {
  text-align: center;
  padding-bottom: 50px;
}
.footer {
  background-color: #ffe5b6;
  color: #333333;
}
.list {
  color: #ffe5b6;
  background-color: #6b4226;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 38vh;
}
.list ul a li {
  color: #ffe5b6;
  font-size: 18px;
  font-weight: 900;
  margin: 12px;
  list-style-type: none;
  transition: 300ms;
}
.list ul a li:hover {
  color: #ffffff;
}
.ft__img {
  width: 300px;
}
.ft {
  width: 400px;
}
.ft p {
  font-size: 14px;
  padding-top: 50px;
}
.div__list h1 {
  text-align: center;
  padding-bottom: 40px;
}
.inlist {
  display: flex;
}
